.debounced-input {
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  border: 3px solid #555;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
